.header{
    height: 119px;
    background-image: linear-gradient(0, #ff6633, #f53d2d);
}

.header__navbar {
    height: 34px;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.navbar__container-list {
    display: inline-flex;
    list-style: none;
    padding-left: 0;
}

.navbar__container-item{
    margin: 0 8px;
    position: relative;
}

.navbar__container-item,
.navbar__container-item-link, 
.navbar__container-item-lang {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 400;
}

.navbar__container-item-link:hover, 
.navbar__container-item-lang:hover,
.navbar__container-icon-link:hover{
    cursor: pointer;
    color: rgba(255,255,255,0.7);
}

.navbar__container-item-lang {
    border: 0px;
    outline: 0px;
    background: none;
    margin: -2px 0 0 0;
}

.navbar__container-item-link--seprate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid rgb(249,108,91);
    height: 1.6rem;
    right: -9px;
    top: 0;
}

.navbar__container-icon-link {
    margin-left: 4px;
    color: var(--white-color);
    text-decoration: none;
}


/* Header QR-Code */
.navbar__container-item--view-qrCode:hover .navbar__qrCode
{
    display: block;
}

.navbar__container-item--view-qrCode::before{
    display: block;
    content: "";
    position: absolute;
    height: 20px;
    width: 108%;
    top: 1rem;
}

.navbar__container--downloadApp {
    position: relative;
}

.navbar__qrCode .navbar__qrCode--img::after, 
.navbar__qrCode .navbar__container--downloadApp::after{
    display: none;
}

.navbar__qrCode {
    display: none;
    position: absolute;
    width: 180px;
    background-color: var(--white-color);
    border-radius: 4px;
    top: 3rem;
    animation: slidein 3s linear 1s;
}

.navbar__qrCode--img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 2px;
}

.navbar_qrCode--store, .navbar_qrCode--store2 {
    display: flex;
    justify-content: space-between;
    margin: 0 11px;
}

.qrCode__store {
    width: 100%;
    padding: 0 3px;
}

.navbar_qrCode--store2 .qrCode__store {
    width: 50%;
    margin-top: 1rem;
    padding: 0 3px;
}
/* End Header QR-Code */